.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.Dish{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  border: 1px solid;
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
}
.button{
  padding: 6px;
  border-radius: 6px;
  background: beige;
}